In [1]:
import pandas as pd
import numpy as np

# 전처리

- 학생 수 데이터

In [2]:
# 유초중등학교 데이터셋
df = pd.read_csv('유초중등학교개황.csv', encoding='cp949')
df.head()

,조사년도,개방ID,학교명,학교급명,시도명,학제유형명,유초중등학교개황_1학년주간학급수,유초중등학교개황_교원수,유초중등학교개황_학생수,유초중등학교개황_입학생수,유초중등학교개황_학급수,유초중등학교개황_1학년주간학생수,유초중등학교개황_졸업생수,유초중등학교개황_3학년주간학생수,유초중등학교개황_3학년주간학급수,유초중등학교개황_2학년주간학생수,유초중등학교개황_2학년주간학급수
0,2009,1000270366,전주초포초등학교병설유치원,원천코드없음,전북,유치원,0,1,0,0,1,0,7,0,0,0,0
1,2009,1000279486,서울봉현초등학교,원천코드없음,서울,초등학교,0,66,1749,242,45,0,292,0,0,0,0
2,2009,1001306772,인천소방고등학교,원천코드없음,인천,전문계고등학교,14,95,1305,477,43,479,369,412,14,414,14
3,2009,1001514911,여수구봉초등학교병설유치원,원천코드없음,전남,유치원,0,2,0,0,2,0,23,0,0,0,0
4,2009,1001970350,산남중학교,원천코드없음,충북,중학교,8,40,865,285,24,286,0,290,8,289,8

In [3]:
# 중학교 데이터셋 분류
df_m = df[df['학제유형명'] == '중학교']
df_m.head()

,조사년도,개방ID,학교명,학교급명,시도명,학제유형명,유초중등학교개황_1학년주간학급수,유초중등학교개황_교원수,유초중등학교개황_학생수,유초중등학교개황_입학생수,유초중등학교개황_학급수,유초중등학교개황_1학년주간학생수,유초중등학교개황_졸업생수,유초중등학교개황_3학년주간학생수,유초중등학교개황_3학년주간학급수,유초중등학교개황_2학년주간학생수,유초중등학교개황_2학년주간학급수
4,2009,1001970350,산남중학교,원천코드없음,충북,중학교,8,40,865,285,24,286,0,290,8,289,8
10,2009,1004554927,경안여자중학교,원천코드없음,경북,중학교,6,33,670,212,19,211,201,213,6,246,7
19,2009,1009705841,청학중학교,원천코드없음,인천,중학교,7,45,977,275,24,275,387,366,9,336,8
31,2009,1014938831,광주화정중학교,원천코드없음,광주,중학교,9,51,1143,358,30,356,409,415,10,372,9
37,2009,1017477273,대전정림중학교,원천코드없음,대전,중학교,7,45,897,234,26,232,350,347,9,318,9

In [4]:
# 필요한 column만 분류
df_ms = df_m[['조사년도', '개방ID', '학교명', '시도명', '학제유형명', '유초중등학교개황_학생수']]
df_ms = df_ms.rename(columns={'유초중등학교개황_학생수': '학생수'})
df_ms.head()

    조사년도        개방ID      학교명 시도명 학제유형명   학생수
4   2009  1001970350    산남중학교  충북   중학교   865
10  2009  1004554927  경안여자중학교  경북   중학교   670
19  2009  1009705841    청학중학교  인천   중학교   977
31  2009  1014938831  광주화정중학교  광주   중학교  1143
37  2009  1017477273  대전정림중학교  대전   중학교   897

In [5]:
# 연도별 학생수를 column으로 지정
df_ms_by_year = df_ms.pivot_table(index=['개방ID', '학교명', '시도명', '학제유형명',], 
                             columns='조사년도', 
                             values='학생수')
df_ms_by_year = df_ms_by_year.fillna(0).astype(int)
df_ms_by_year = df_ms_by_year.reset_index()
df_ms_by_year.rename(columns={year: f"{year}_학생수" for year in range(2009, 2024)}, inplace=True)
df_ms_by_year.head()

조사년도,개방ID,학교명,시도명,학제유형명,2009_학생수,2010_학생수,2011_학생수,2012_학생수,2013_학생수,2014_학생수,2015_학생수,2016_학생수,2017_학생수,2018_학생수,2019_학생수,2020_학생수,2021_학생수,2022_학생수,2023_학생수
0,1001970350,산남중학교,충북,중학교,865,868,864,854,876,900,897,856,849,830,809,774,757,716,686
1,1004554927,경안여자중학교,경북,중학교,670,656,607,583,570,571,537,528,508,480,452,445,452,452,458
2,1009705841,청학중학교,인천,중학교,977,900,852,797,726,610,516,396,352,320,271,291,277,274,286
3,1014938831,광주화정중학교,광주,중학교,1143,1103,1052,991,883,819,721,684,693,657,648,661,642,624,630
4,1017477273,대전정림중학교,대전,중학교,897,811,683,595,453,346,294,266,228,183,169,190,181,170,186

In [71]:
# df_ms_by_year.to_csv("중학교_학생_수.csv", index=False, encoding='utf-8-sig')

- 위치 데이터

In [6]:
# 중학교 데이터셋 분류
df_l = pd.read_csv('위치.csv')
df_ml = df_l[df_l['학교급구분'] == '중학교']
df_ml.head()

,학교ID,학교명,학교급구분,설립일자,설립형태,본교분교구분,운영상태,소재지지번주소,소재지도로명주소,시도교육청코드,시도교육청명,교육지원청코드,교육지원청명,생성일자,변경일자,위도,경도,데이터기준일자
1,B000008267,방이중학교,중학교,1985-04-12,공립,본교,운영,서울특별시 송파구 방이동 53,서울특별시 송파구 오금로11길 64,7010000,서울특별시교육청,7130000,서울특별시강동송파교육지원청,2013-11-29,2024-07-09,37.515011,127.113244,2024-09-20
2,B000009672,율곡중학교,중학교,1955-05-03,사립,본교,운영,경기도 파주시 법원읍 법원리 378,경기도 파주시 법원읍 사임당로905번길 10,7530000,경기도교육청,7681000,경기도파주교육지원청,2013-11-29,2024-07-09,37.849383,126.881141,2024-09-20
4,B000009679,어유중학교,중학교,1979-10-28,공립,본교,운영,경기도 파주시 적성면 어유지리 306,경기도 파주시 적성면 율곡로 2875,7530000,경기도교육청,7681000,경기도파주교육지원청,2013-11-29,2024-07-09,37.993927,126.988278,2024-09-20
9,B000008549,학산여자중학교,중학교,1951-08-06,사립,본교,운영,부산광역시 동래구 명장동 산85-18,부산광역시 동래구 충렬사로51번길 61,7150000,부산광역시교육청,7191000,부산광역시동래교육지원청,2013-11-29,2024-07-09,35.204753,129.096168,2024-09-20
11,B000010099,해미중학교,중학교,1952-04-15,공립,본교,운영,충청남도 서산시 해미면 읍내리 450-1,충청남도 서산시 해미면 남문2로 93,8140000,충청남도교육청,8191000,충청남도서산교육지원청,2013-11-29,2024-07-09,36.715130,126.544575,2024-09-20

In [73]:
# df_ml.to_csv("중학교_위치.csv", index=False, encoding='utf-8-sig')

In [7]:
# 필요한 columns 분류
df_ml = df_ml[['학교명', '설립일자', '본교분교구분', '소재지지번주소', '소재지도로명주소', '시도교육청명', '위도', '경도']]

# 학생 수 데이터와 위치 데이터 Merge

In [8]:
# 학교, 시도명이 같은 학교(산동중학교, 구산중학교, 해성중학교)
df_ms_by_year.loc[df_ms_by_year['개방ID'] == 1182783961, '학교명'] = '영천산동중학교'
df_ms_by_year.loc[df_ms_by_year['개방ID'] == 4889603793, '학교명'] = '김해구산중학교'
df_ms_by_year.loc[df_ms_by_year['개방ID'] == 4562499284, '학교명'] = '남해해성중학교'

df_ml.loc[df_ml['소재지지번주소'] == '경상북도 영천시 화남면 삼창리 86', '학교명'] = '영천산동중학교'
df_ml.loc[df_ml['소재지지번주소'] == '경상남도 김해시 구산동 1055', '학교명'] = '김해구산중학교'
df_ml.loc[df_ml['소재지지번주소'] == '경상남도 남해군 남면 평산리 271', '학교명'] = '남해해성중학교'

In [9]:
# 두 데이터셋 비교
common_schools = set(df_ms_by_year['학교명']).intersection(set(df_ml['학교명']))

only_in_ms = set(df_ms_by_year['학교명']) - set(df_ml['학교명'])  # df_ms_by_year에만 있는 학교
only_in_ml = set(df_ml['학교명']) - set(df_ms_by_year['학교명'])  # df_l에만 있는 학교

print("df_ms_by_year에만 있는 학교 개수:", len(only_in_ms))
print("df_ml에만 있는 학교 개수:", len(only_in_ml))

df_ms_by_year에만 있는 학교 개수: 145
df_ml에만 있는 학교 개수: 33

In [10]:
# 위치 데이터셋에만 있는 학교 목록
df_ml[df_ml['학교명'].isin(only_in_ml)]

,학교명,설립일자,본교분교구분,소재지지번주소,소재지도로명주소,시도교육청명,위도,경도
504,대전원신흥중학교,2022-02-01,본교,대전광역시 유성구 원신흥동 526,대전광역시 유성구 동서대로735번길 20,대전광역시교육청,36.333068,127.345345
962,부일여자중학교,1984-04-10,본교,인천광역시 부평구 부평동 755-45,인천광역시 부평구 동수로 8,인천광역시교육청,37.484253,126.719472
1725,순천동산여자중학교,1978-09-01,본교,전라남도 순천시 조례동 1175,전라남도 순천시 유동길 40,전라남도교육청,34.955372,127.515792
2289,순천여자중학교,1940-04-28,본교,전라남도 순천시 매곡동 386,전라남도 순천시 북정4길 70,전라남도교육청,34.964871,127.479247
3430,이화여자대학교사범대학부속이화·금란중학교,1955-04-08,본교,서울특별시 서대문구 대신동 47,서울특별시 서대문구 성산로 520,서울특별시교육청,37.562643,126.944489
4065,경상여자중학교,1966-03-10,본교,대구광역시 서구 비산동 228,대구광역시 서구 국채보상로 384,대구광역시교육청,35.870685,128.573808
4610,공주대학교사범대학부설중학교,1953-04-15,본교,충청남도 공주시 반죽동 322-1,충청남도 공주시 봉황로 75,충청남도교육청,36.452767,127.119791
4822,시화나래중학교,2023-03-01,본교,경기도 시흥시 정왕동,경기도 시흥시 거북섬남로 70,경기도교육청,37.324657,126.678566
4841,영광옥광중학교,1961-05-27,본교,전라남도 영광군 영광읍 무령리 317-1,전라남도 영광군 영광읍 물무로3길 19,전라남도교육청,35.278816,126.516119
5311,동성고등공민학교,1967-03-02,본교,경기도 하남시 광암동 323,경기도 하남시 광암로148번길 67,경기도교육청,37.512391,127.172339
5986,사송중학교,2023-03-01,본교,경상남도 양산시 동면 내송리 885,경상남도 양산시 동면 내송큰들1길 8,경상남도교육청,35.319976,129.069646
7711,진북고등공민학교,1955-03-05,본교,전북특별자치도 전주시 덕진구 진북동 1144-9,전북특별자치도 전주시 덕진구 숲정이3길 35,전북특별자치도교육청,35.831816,127.131081
10063,세인트존스베리 아카데미 제주,2017-10-23,분교,제주특별자치도 서귀포시 대정읍 구억리 1159,제주특별자치도 서귀포시 대정읍 글로벌에듀로304번길 10,제주특별자치도교육청,33.285293,126.284313
10705,강빛중학교,2021-03-01,본교,서울특별시 강동구 강일동 121-3,서울특별시 강동구 아리수로93다길 1,서울특별시교육청,37.574343,127.170775
11067,판교대장중학교,2021-06-01,본교,경기도 성남시 분당구 대장동 156-4,경기도 성남시 분당구 판교대장로5길 71,경기도교육청,37.368279,127.069717
11250,한국국제학교,2011-09-01,본교,제주특별자치도 서귀포시 대정읍 구억리 1128,제주특별자치도 서귀포시 대정읍 글로벌에듀로260번길 8,제주특별자치도교육청,33.288646,126.287220
11342,훈민중학교,2022-09-01,본교,경기도 의정부시 고산동 925,경기도 의정부시 홈다리길 10,경기도교육청,37.736274,127.112017
11416,해창중학교,2024-09-01,본교,경기도 평택시 고덕동 2699-2,경기도 평택시 고덕국제5로 175,경기도교육청,37.036554,127.022696
11529,광주예술중학교,2022-03-15,본교,광주광역시 북구 매곡동 385,광주광역시 북구 서하로 72,광주광역시교육청,35.186311,126.887812
11579,배다리중학교,2023-03-01,본교,경기도 평택시 죽백동 793,경기도 평택시 죽백4로 65,경기도교육청,37.004834,127.121631
11722,대전둔곡중학교,2024-09-01,본교,대전광역시 유성구 둔곡동 261-4,대전광역시 유성구 과학인재4길 10,대전광역시교육청,36.453175,127.364639
11781,인천운서중학교,2024-03-01,본교,인천광역시 중구 운서동 3083-23,인천광역시 중구 하늘초롱길 73,인천광역시교육청,37.490696,126.505107
11788,과천율목중학교,2024-06-07,본교,경기도 과천시 갈현동 240-2,경기도 과천시 과천대로2길 37,경기도교육청,37.407859,126.982261
11789,충북체육중학교,2024-03-01,본교,충청북도 진천군 문백면 도하리 774,충청북도 진천군 문백면 도하3길 120,충청북도교육청,36.763086,127.434730
11801,고진중학교,2024-03-01,본교,경기도 용인시 처인구 고림동 635-15,경기도 용인시 처인구 고림로 165-2,경기도교육청,37.247763,127.217432
11807,한국창의예술중학교,2024-03-01,본교,전라남도 광양시 마동 328-6,전라남도 광양시 중마로 400,전라남도교육청,34.948808,127.701910
11811,배곧라라중학교,2024-05-01,본교,경기도 시흥시 배곧동 189,경기도 시흥시 서울대학로 255,경기도교육청,37.369339,126.723031
11816,다율중학교,2024-03-01,본교,경기도 파주시 다율동 1010,경기도 파주시 다율로 28,경기도교육청,37.738582,126.728065
11842,수청중학교,2024-03-01,본교,충청남도 당진시 수청동 692,충청남도 당진시 수청3로 42,충청남도교육청,36.890284,126.652043
11844,율정중학교,2024-03-01,본교,경기도 양주시 옥정동 1029,경기도 동두천시 중앙로 110-32,경기도교육청,37.890935,127.053974
11845,화접중학교,2024-03-01,본교,경기도 남양주시 별내면 청학리 421,경기도 남양주시 별내면 청학로132번길 30,경기도교육청,37.711018,127.112718
11910,퇴계중학교,2021-03-01,본교,강원특별자치도 춘천시 퇴계동 1238,강원특별자치도 춘천시 안마산로 123,강원특별자치도교육청,37.856102,127.731937
11985,인천청호중학교,2021-06-07,본교,인천광역시 서구 청라동 140-2,인천광역시 서구 청라한울로 44,인천광역시교육청,37.538645,126.641516

In [11]:
# 학생 수 데이터셋에만 있는 학교 목록
df_ms_by_year[(df_ms_by_year['학교명'].isin(only_in_ms)) & (df_ms_by_year['2023_학생수'] != 0)]

조사년도,개방ID,학교명,시도명,학제유형명,2009_학생수,2010_학생수,2011_학생수,2012_학생수,2013_학생수,2014_학생수,2015_학생수,2016_학생수,2017_학생수,2018_학생수,2019_학생수,2020_학생수,2021_학생수,2022_학생수,2023_학생수
302,1790614902,인천동수중학교,인천,중학교,976,827,743,642,556,510,468,415,357,321,271,275,264,243,198
936,3468505620,신화중학교,서울,중학교,1613,1458,1358,1401,1381,1276,1038,832,733,670,615,600,620,418,228
1134,4019119679,영광옥당중학교,전남,중학교,608,600,596,563,549,526,490,441,399,378,373,389,386,376,362
1598,5210688352,신당중학교,대구,중학교,983,887,729,630,551,477,391,311,268,247,220,204,186,166,127
1728,5546734273,대구청라중학교,대구,중학교,580,571,568,546,522,478,401,330,287,258,208,161,147,147,149
2187,6790811479,이화여자대학교사범대학부속이화?금란중학교,서울,중학교,1182,1085,1007,1016,959,822,657,557,499,448,400,427,470,484,489
2404,7315055668,창기중학교,충남,중학교,63,50,49,41,44,36,33,23,19,17,16,14,12,12,9
2962,8726868569,국립공주대학교사범대학부설중학교,충남,중학교,206,216,204,195,186,190,184,178,184,182,176,179,181,171,173
3243,9538992643,순천세빛중학교,전남,중학교,676,638,524,529,500,492,375,306,274,268,269,258,235,230,220
3361,9820616006,순천동산중학교,전남,중학교,1075,1007,840,662,488,428,401,364,362,317,290,249,240,201,185

- 학교 이름이 바뀌었거나, 학교 이름이 잘못 저장된 경우, 학교가 누락된 경우 수정

In [11]:
# 학생 수 데이터셋 수정
df_ms_by_year['학교명'] = df_ms_by_year['학교명'].replace({
    '인천청호': '인천천호중학교',
    '이화여자대학교사범대학부속이화?금란중학교': '이화여자대학교사범대학부속이화·금란중학교',
})

In [12]:
# 위치 데이터셋 수정
df_ml['학교명'] = df_ml['학교명'].replace({
    '부일여자중학교': '인천동수중학교',
    '순천동산여자중학교': '순천동산중학교',
    '순천여자중학교': '순천세빛중학교',
    '경장여자중학교': '대구청라중학교',
    '공주대학교사범대학부설중학교': '국립공주대학교사범대학부설중학교',
    '영광옥광중학교': '영광옥당중학교'
})

In [13]:
# 위치 데이터셋에 누락된 학교 추가 (신화중학교)
df_ml.loc[len(df_ml)] = ['신화중학교', '1969-11-11', '본교', 
                         '서울특별시 양천구 신월동 17-6', '서울특별시 양천구 남부순환로29길 25', 
                         '서울특별시교육청', 37.541156, 126.830209]

In [14]:
# 위치데이터에 시도명 추가
mapping = {
    '서울특별시교육청': '서울', '부산광역시교육청': '부산', '대구광역시교육청': '대구',
    '인천광역시교육청': '인천', '광주광역시교육청': '광주', '대전광역시교육청': '대전',
    '울산광역시교육청': '울산', '세종특별자치시교육청': '세종', '경기도교육청': '경기',
    '강원특별자치도교육청': '강원', '충청북도교육청': '충북', '충청남도교육청': '충남',
    '전북특별자치도교육청': '전북', '전라남도교육청': '전남', '경상북도교육청': '경북',
    '경상남도교육청': '경남', '제주특별자치도교육청': '제주'
}

df_ml['시도명'] = df_ml['시도교육청명'].replace(mapping)
df_ml.head()

,학교명,설립일자,본교분교구분,소재지지번주소,소재지도로명주소,시도교육청명,위도,경도,시도명
1,방이중학교,1985-04-12,본교,서울특별시 송파구 방이동 53,서울특별시 송파구 오금로11길 64,서울특별시교육청,37.515011,127.113244,서울
2,율곡중학교,1955-05-03,본교,경기도 파주시 법원읍 법원리 378,경기도 파주시 법원읍 사임당로905번길 10,경기도교육청,37.849383,126.881141,경기
4,어유중학교,1979-10-28,본교,경기도 파주시 적성면 어유지리 306,경기도 파주시 적성면 율곡로 2875,경기도교육청,37.993927,126.988278,경기
9,학산여자중학교,1951-08-06,본교,부산광역시 동래구 명장동 산85-18,부산광역시 동래구 충렬사로51번길 61,부산광역시교육청,35.204753,129.096168,부산
11,해미중학교,1952-04-15,본교,충청남도 서산시 해미면 읍내리 450-1,충청남도 서산시 해미면 남문2로 93,충청남도교육청,36.715130,126.544575,충남

In [15]:
# 학교명과 시도명 기준으로 두 데이터셋 merge
df_merged = pd.merge(df_ml, df_ms_by_year, on=['학교명', '시도명'], how='inner')
df_merged.head()

,학교명,설립일자,본교분교구분,소재지지번주소,소재지도로명주소,시도교육청명,위도,경도,시도명,개방ID,...,2014_학생수,2015_학생수,2016_학생수,2017_학생수,2018_학생수,2019_학생수,2020_학생수,2021_학생수,2022_학생수,2023_학생수
0,방이중학교,1985-04-12,본교,서울특별시 송파구 방이동 53,서울특별시 송파구 오금로11길 64,서울특별시교육청,37.515011,127.113244,서울,5829309821,...,741,629,538,457,417,409,404,387,365,319
1,율곡중학교,1955-05-03,본교,경기도 파주시 법원읍 법원리 378,경기도 파주시 법원읍 사임당로905번길 10,경기도교육청,37.849383,126.881141,경기,8512182414,...,204,205,173,146,129,126,122,121,104,85
2,어유중학교,1979-10-28,본교,경기도 파주시 적성면 어유지리 306,경기도 파주시 적성면 율곡로 2875,경기도교육청,37.993927,126.988278,경기,5073030948,...,29,23,22,23,29,24,26,25,23,32
3,학산여자중학교,1951-08-06,본교,부산광역시 동래구 명장동 산85-18,부산광역시 동래구 충렬사로51번길 61,부산광역시교육청,35.204753,129.096168,부산,6917365610,...,619,562,497,443,374,331,300,295,269,262
4,해미중학교,1952-04-15,본교,충청남도 서산시 해미면 읍내리 450-1,충청남도 서산시 해미면 남문2로 93,충청남도교육청,36.715130,126.544575,충남,6390202641,...,359,339,323,279,256,230,222,206,195,188

In [16]:
len(df_merged)

3256

In [17]:
# 2023년 기준 폐, 휴교하지 않은 학교들
df_merged[df_merged['2023_학생수']!=0]

,학교명,설립일자,본교분교구분,소재지지번주소,소재지도로명주소,시도교육청명,위도,경도,시도명,개방ID,...,2014_학생수,2015_학생수,2016_학생수,2017_학생수,2018_학생수,2019_학생수,2020_학생수,2021_학생수,2022_학생수,2023_학생수
0,방이중학교,1985-04-12,본교,서울특별시 송파구 방이동 53,서울특별시 송파구 오금로11길 64,서울특별시교육청,37.515011,127.113244,서울,5829309821,...,741,629,538,457,417,409,404,387,365,319
1,율곡중학교,1955-05-03,본교,경기도 파주시 법원읍 법원리 378,경기도 파주시 법원읍 사임당로905번길 10,경기도교육청,37.849383,126.881141,경기,8512182414,...,204,205,173,146,129,126,122,121,104,85
2,어유중학교,1979-10-28,본교,경기도 파주시 적성면 어유지리 306,경기도 파주시 적성면 율곡로 2875,경기도교육청,37.993927,126.988278,경기,5073030948,...,29,23,22,23,29,24,26,25,23,32
3,학산여자중학교,1951-08-06,본교,부산광역시 동래구 명장동 산85-18,부산광역시 동래구 충렬사로51번길 61,부산광역시교육청,35.204753,129.096168,부산,6917365610,...,619,562,497,443,374,331,300,295,269,262
4,해미중학교,1952-04-15,본교,충청남도 서산시 해미면 읍내리 450-1,충청남도 서산시 해미면 남문2로 93,충청남도교육청,36.715130,126.544575,충남,6390202641,...,359,339,323,279,256,230,222,206,195,188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3251,웅양중학교,1955-09-20,본교,경상남도 거창군 웅양면 노현리 488-1,경상남도 거창군 웅양면 원촌3길 39-13,경상남도교육청,35.805775,127.916455,경남,6120479702,...,39,30,26,26,24,19,19,21,24,21
3252,도계중학교,1952-03-31,본교,강원특별자치도 삼척시 도계읍 도계리 287-3 번지,강원특별자치도 삼척시 도계읍 도계느티로 36,강원특별자치도교육청,37.230987,129.048733,강원,2858980059,...,143,132,109,95,89,79,78,77,79,148
3253,섬진중학교,1969-10-14,본교,전북특별자치도 임실군 강진면 회진리 39-1,전북특별자치도 임실군 강진면 강운로 87,전북특별자치도교육청,35.526980,127.151775,전북,1440833926,...,50,42,42,34,32,19,17,11,17,20
3254,일신여자중학교,1967-10-28,본교,충청북도 청주시 상당구 탑동 185-1,충청북도 청주시 상당구 영운로 126,충청북도교육청,36.626928,127.496897,충북,4852677822,...,468,417,363,323,317,316,280,277,291,344
3255,조치원중학교,1951-08-31,본교,세종특별자치시 조치원읍 신흥리 238,세종특별자치시 조치원읍 대첩로 90,세종특별자치시교육청,36.595332,127.285900,세종,8419549107,...,880,796,696,657,602,592,554,655,725,792

In [18]:
df_merged.to_csv("중학교_학생수+위치1.csv", index=False, encoding='utf-8-sig')

# 출생아수 데이터와 Merge

In [19]:
df_b = pd.read_csv('출생아수_시_군_구.csv')
df_b.head()

,시군구별,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,서울특별시 종로구,2168,1972,1941,1939,1683,1453,1404,1296,1143,...,905,906,846,689,644,673,529,528,464,396
1,서울특별시 중구,1467,1306,1239,1625,1577,1409,1203,1260,1096,...,1041,950,959,808,733,783,690,627,587,534
2,서울특별시 용산구,2929,2813,2887,3073,2749,2268,2226,2261,2041,...,1976,1967,1708,1464,1377,1314,1176,1234,1110,1012
3,서울특별시 성동구,4865,4496,4511,4885,4306,3917,3864,3685,3368,...,2654,2753,2531,2462,2346,2191,1945,1833,1690,1483
4,서울특별시 광진구,6433,6318,5801,5732,4780,4201,4239,3908,3397,...,3011,2951,2767,2347,2197,1957,1532,1484,1278,1231

- 출생아수 기반으로 해당 지역에 입학할 중학생 수 추정

In [20]:
# '시군구별' 열의 공백 제거
df_b['시군구별'] = df_b['시군구별'].str.strip()

# 열 이름을 정수형으로 변환
df_b.columns = [df_b.columns[0]] + [int(col) for col in df_b.columns[1:]]

# 숫자 데이터를 정수형(int)으로 변환
for col in df_b.columns[1:]:
    df_b[col] = pd.to_numeric(df_b[col], errors='coerce').fillna(0).astype(int)

# 출생아수 데이터에서 3개년 합계를 구해 중학교 학생 수 추정 (올바른 계산 방식 적용)
# 2010년부터 2031년까지의 중학교 예상 학생 수 계산
df_ems = pd.DataFrame({'시군구별': df_b['시군구별']})

for year in range(2012, 2037):  # 2012년부터 2036년까지 추정
    required_years = [year - 13, year - 14, year - 15]  # 해당 연도에 중학생이 되는 출생연도
    valid_years = [y for y in required_years if y in df_b.columns]  # 실제 데이터에 존재하는 연도만 사용
    
    # 출생아 수 합산 (해당 연도가 존재하지 않는 경우 0으로 처리)
    df_ems[f'{year}_해당지역예측학생수'] = df_b[valid_years].sum(axis=1, numeric_only=True) if valid_years else 0

# 0이 포함된 행이 있을 경우 마지막 0이 위치한 이후 연도의 첫 번째, 두 번째 셀을 0으로 설정
for idx, row in df_ems.iloc[:, 1:].iterrows():
    zero_indices = row[row == 0].index
    if len(zero_indices) > 0:
        last_zero_idx = zero_indices[-1]
        next_columns = df_ems.columns[df_ems.columns.get_loc(last_zero_idx) + 1:]
        if len(next_columns) > 0:
            df_ems.loc[idx, next_columns[0]] = 0
        if len(next_columns) > 1:
            df_ems.loc[idx, next_columns[1]] = 0

df_ems

,시군구별,2012_해당지역예측학생수,2013_해당지역예측학생수,2014_해당지역예측학생수,2015_해당지역예측학생수,2016_해당지역예측학생수,2017_해당지역예측학생수,2018_해당지역예측학생수,2019_해당지역예측학생수,2020_해당지역예측학생수,...,2027_해당지역예측학생수,2028_해당지역예측학생수,2029_해당지역예측학생수,2030_해당지역예측학생수,2031_해당지역예측학생수,2032_해당지역예측학생수,2033_해당지역예측학생수,2034_해당지역예측학생수,2035_해당지역예측학생수,2036_해당지역예측학생수
0,서울특별시 종로구,6081,5852,5563,5075,4540,4153,3843,3578,3486,...,2878,2684,2657,2441,2179,2006,1846,1730,1521,1388
1,서울특별시 중구,4012,4170,4441,4611,4189,3872,3559,3478,3494,...,3278,3013,2950,2717,2500,2324,2206,2100,1904,1748
2,서울특별시 용산구,8629,8773,8709,8090,7243,6755,6528,6463,6651,...,6516,6072,5651,5139,4549,4155,3867,3724,3520,3356
3,서울특별시 성동구,13872,13892,13702,13108,12087,11466,10917,10512,10589,...,8327,8245,7938,7746,7339,6999,6482,5969,5468,5006
4,서울특별시 광진구,18552,17851,16313,14713,13220,12348,11544,10871,10677,...,9320,8952,8729,8065,7311,6501,5686,4973,4294,3993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,함양군,1291,1309,1213,1117,970,870,830,829,880,...,698,670,610,547,488,446,391,340,280,253
246,거창군,2229,2172,2009,1822,1567,1478,1355,1305,1294,...,1184,1107,1066,984,912,798,742,679,616,589
247,합천군,1707,1574,1431,1239,1166,1076,1011,889,903,...,685,609,550,466,422,385,369,330,290,241
248,제주시,17551,17740,17462,16466,15286,14358,13767,12968,12942,...,13244,12936,12973,12411,11792,10983,10239,9384,8731,8172
249,서귀포시,7140,7039,6680,6150,5280,4852,4647,4716,4823,...,3602,3518,3647,3720,3520,3335,3031,2833,2585,2377

- 학생수 + 위치 + 예측학생 수 Merge

In [21]:
# '소재지지번주소'가 NA가 아닌 데이터만 사용
df_merged = df_merged.dropna(subset=['소재지지번주소'])

# '소재지지번주소'에서 '시군구별' 값이 포함된 경우 매핑
def find_region(address):
    for region in df_ems['시군구별']:
        if region in address:
            return region
    return None

# 학생 수 데이터에 '출생아수' 정보를 추가
df_merged['시군구별'] = df_merged['소재지지번주소'].apply(find_region)

# 매칭된 데이터와 출생아수 데이터 병합
df_final = df_merged.merge(df_ems, on='시군구별', how='left')

#열 순서 정렬
col_to_move = '시군구별'
target_index = 7 

cols = [col for col in df_final.columns if col != col_to_move]  # 기존 컬럼에서 제거
cols.insert(target_index, col_to_move)  # 원하는 위치에 삽입

df_final = df_final[cols]

# 예측학생 수 정수 변환
df_final.iloc[:, 24:] = df_final.iloc[:, 24:].fillna(0).astype(int)

df_final.head()

,학교명,설립일자,본교분교구분,소재지지번주소,소재지도로명주소,시도교육청명,위도,시군구별,경도,시도명,...,2027_해당지역예측학생수,2028_해당지역예측학생수,2029_해당지역예측학생수,2030_해당지역예측학생수,2031_해당지역예측학생수,2032_해당지역예측학생수,2033_해당지역예측학생수,2034_해당지역예측학생수,2035_해당지역예측학생수,2036_해당지역예측학생수
0,방이중학교,1985-04-12,본교,서울특별시 송파구 방이동 53,서울특별시 송파구 오금로11길 64,서울특별시교육청,37.515011,서울특별시 송파구,127.113244,서울,...,18823.0,17863.0,17400.0,16375.0,15043.0,13967.0,12782.0,11684.0,10544.0,9721.0
1,율곡중학교,1955-05-03,본교,경기도 파주시 법원읍 법원리 378,경기도 파주시 법원읍 사임당로905번길 10,경기도교육청,37.849383,파주시,126.881141,경기,...,12358.0,12054.0,11965.0,11363.0,10512.0,9713.0,8995.0,8310.0,7963.0,7700.0
2,어유중학교,1979-10-28,본교,경기도 파주시 적성면 어유지리 306,경기도 파주시 적성면 율곡로 2875,경기도교육청,37.993927,파주시,126.988278,경기,...,12358.0,12054.0,11965.0,11363.0,10512.0,9713.0,8995.0,8310.0,7963.0,7700.0
3,학산여자중학교,1951-08-06,본교,부산광역시 동래구 명장동 산85-18,부산광역시 동래구 충렬사로51번길 61,부산광역시교육청,35.204753,부산광역시 동래구,129.096168,부산,...,5699.0,5421.0,5383.0,5028.0,4492.0,4046.0,3858.0,3777.0,3757.0,3548.0
4,해미중학교,1952-04-15,본교,충청남도 서산시 해미면 읍내리 450-1,충청남도 서산시 해미면 남문2로 93,충청남도교육청,36.715130,서산시,126.544575,충남,...,5028.0,4946.0,4909.0,4627.0,4301.0,3930.0,3640.0,3330.0,3173.0,2925.0

In [23]:
df_final.to_csv("중학교_데이터셋.csv", index=False, encoding='utf-8-sig')